<div class="row">
  <div class="col-sm-10">
    <h2>Contributions from a single activity/event</h2>
    <p class="terms">Use this form to record one or more people who did something at a single event. Or, <a href="/log-many">switch to log multiple dates</a>.</p>
  </div>
</div>
<div class="row">
  <form id="contributionForm" method="post" action="/log-em">
    <input type="hidden" name="_csrf" value="{{{token}}}">
    <div class="col-sm-4">
      <h3>What</h3>
      {{> logging/select-teams}}
      {{> logging/select-type}}
      <h5>Description <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="No essays, just enough that we can look back and know what this was about."></span></h5>
      <textarea class="form-control" name="description" id="description" rows="2" required>{{{description}}}</textarea>
      <h3>When <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="The date the contribution activity happened"></span>
</h3>
      <input type="text" class="form-control date-format datePickerActive" name="date" id="date" placeholder="YYYY-MM-DD" required value="{{{date}}}">
      <br /><button class="btn btn-default btn-xs" id="btnToday">Today <span class="glyphicon glyphicon-calendar"></span></button>
    </div>
    <div class="col-sm-8">
      <h3>Who</h3>
      <p class="small">Email addresses: seperated by a comma, semicolon, or new lines <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="top" title="Just emails, no names. This is the minimum data needed to de-dupe people."></span></p>
      <textarea class="form-control" rows="12" name="contributors" required></textarea>
      {{> logging/clarify}}
      <br />
      {{> logging/evidence}}
      <br />
      <button type="submit" class="btn btn-primary btn-lg">Log this <span class="glyphicon glyphicon-ok-sign"></span></button>
      <button class="btn btn-default btn-xs pull-right" id="btnQuicklink">Get pre-fill quick link <span class="glyphicon glyphicon-link"></span></button>
    </div>
  </form>
</div>

<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLinkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="linkModalLinkLabel">Quick link</h4>
      </div>
      <div class="modal-body">
        <p>Use this URL as a shortcut to pre-populate this form with your What and When fields.</p>
        <p><input type="text" class="form-control" id="linkToCopy"></p>
        <p class="small">Save this as a bookmark, or copy and paste into your browser bar.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{> logging/recent}}
{{> logging/help}}
{{> logging/hidden}}
