/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.error {
	color: #428BCA;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

footer {
  padding-top: 100px;
}










