<p class="small terms"><br/><em>This tool will not email these contributors, and logging an address here does not give Mozilla permission to email these contributors. It is expected that as the person logging this contribution, you (or your team) have a direct relationship with the contributors.</em></p>
