<!-- Help -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Help is at hand. <a href="http://www.youtube.com/watch?v=pd_2ins6lcA" target="_blank">Bat phone</a>.</h4>
      </div>
      <div class="modal-body">
        <h4>What should I record here?</h4>
        <p>Contribution activity that doesn't exist in another database. For example, don't log someone's code contribution here if it's already in a Gitbhub commit history. But, this would be a good place to note people who presented on a community call. <a href="#" id="showWelcome">See some more examples</a>.</p>
        <hr />
        <h4>What counts as contribtuion?</h4>
        <p>In the end, that's a call for your team, but this <a href="https://wiki.mozilla.org/Foundation/Metrics/Contributor_Dashboard#Sniff_test" target="_blank">MoFo Sniff Test</a> might help, along with the <a href="https://wiki.mozilla.org/Contribute/Conversion_points" target="_blank">MoCo Contributor Conversion Points</a>.</p>
        <hr />
        <h4>It broke! Or, I wish it would...</h4>
        <p>If you want to add new Teams, or contribution types, or have any other requests:
        <ul>
          <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?alias=&assigned_to=nobody%40mozilla.org&attach_text=&blocked=&bug_file_loc=http%3A%2F%2F&bug_ignored=0&bug_severity=normal&bug_status=NEW&comment=&component=Metrics&contenttypeentry=&contenttypemethod=autodetect&contenttypeselection=text%2Fplain&data=&defined_groups=1&dependson=&description=&flag_type-4=X&flag_type-607=X&flag_type-791=X&flag_type-800=X&flag_type-803=X&form_name=enter_bug&keywords=&maketemplate=Remember%20values%20as%20bookmarkable%20template&op_sys=Mac%20OS%20X&priority=--&product=Mozilla%20Foundation&qa_contact=&rep_platform=x86&requestee_type-4=&requestee_type-607=&requestee_type-791=&requestee_type-800=&see_also=&short_desc=Request%20______________________%20for%20Ad-hoc%20contribution%20logger&status_whiteboard=&target_milestone=---&version=unspecified" target="_blank">File a bug here (Mozilla Foundation :: Metrics)</a></li>
        </ul>
        <hr />
        <h4>When does this update?</h4>
        <p>After you log something here, our contributor dashboards will be updated with recent contribution activity within an hour. Backdated activity is updated every few hours.</p>
        <hr />
        <h4>Who built this?</h4>
        <ul>
          <li>Built by <a href="mailto:adam@mozillafoundation.org">Adam Lofting</a>.</li>
          <li><a href="https://github.com/adamlofting/adhoctribution/" target="_blank">Source code on Github</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Welcome -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLinkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="welcomeModalLinkLabel">Welcome! :)</h4>
      </div>
      <div class="modal-body">
        <p>This tool is for collecting small pots of contribution activity that happen here and there across the Mozilla universe (MoFo and MoCo).</p>
        <p>It's a fallback solution for logging the things that can't be counted elsewhere because they don't have a digital footprint, or where developing another system would not be an effective use of time/money.</p>
        <div class="alert alert-success">
          <h4>It's good for things like:</h4>
          <ul>
            <li>Logging those five people who helped at your event</li>
            <li>Logging people who present on a regular community call</li>
            <li>Logging that person who verbally reported a bug at a meetup</li>
          </ul>
        </div>
        <div class="alert alert-warning">
          <h4>Perhaps check before logging things like</h4>
          <ul>
            <li>A list of a hundred people who volunteered at an event</li>
          </ul>
        </div>
        <div class="alert alert-danger">
          <h4>Don't use it for</h4>
          <ul>
            <li>Logging thousands of people who did something, as we could likely better record and automate this somewhere else.</li>
            <li>Logging things we are counting already (e.g. code contributions in github)</li>
            <li>Logging things we are working on counting automatically (e.g. writing articles on SUMO)</li>
            <li>Planning your next vacation</li>
          </ul>
        </div>
        <h4>Good to know:</h4>
        <ul>
          <li>The counts from this tool will be added to our Contributor Dashboards automatically, but only the aggregate numbers are exposed via the API - not raw data</li>
          <li>This tool does not send any communications (or have permission to send communications to) the email addresses logged</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
