<h5>Team</h5>
<select class="form-control" name="teamname" id="teamname" required>
  <option value="default">--Select</option>
  {{{ mocofoteamlist }}}
  {{! this list is now maintained here https://github.com/mozilla/team-list/ }}
</select>
