<h5>Team</h5>
<select class="form-control" name="teamname" id="teamname" required>
  <option value="default">--Select</option>
  <optgroup label="MoFo">
    <option value="mofo-appmaker">Appmaker</option>
    <option value="mofo-openbadges">Badges</option>
    <option value="mofo-engagement">Engagement</option>
    <option value="mofo-hive">Hive</option>
    <option value="mofo-opennews">Open News</option>
    <option value="mofo-sciencelab">Science Lab</option>
    <option value="mofo-webmaker">Webmaker</option>
  </optgroup>
  <optgroup label="MoCo">
    <option value="moco-engagement">Engagement</option>
    <option value="moco-finance">Finance</option>
    <option value="moco-legal">Legal</option>
    <option value="moco-privacy">Privacy</option>
    <option value="moco-qa">QA</option>
  </optgroup>
</select>
